<div class="container-fluid">
  <div class="row">
    {{>_admin_sidebar}}
    <div class="col-lg-10 col-md-9 normal-height bg-gray">
      <div class="container-fluid mt-1 mb-1 no-pd">
        <div class="row">
          <div class="col-md-10">
            <form action="/admin/vacancy/" method="GET">
              <div class="form-group">
                <div class="form-control d-flex align-items-center">
                  <input type="search" name="searchText" class="w-100" placeholder="Search for vacancy by name" />
                  <button type="submit" class="btn btn-sm bg-white">
                    <i class="fas fa-search ml-1"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-2 ml-auto text-right">
            <button class="btn btn-block btn-primary" data-toggle="modal" data-target="#addNewModal">
              <i class="fas fa-plus"></i>
              New vacancy
            </button>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          <h5 class="card-title d-flex align-items-center">
            <i class="fas fa-list-alt mr-1 text-primary"></i>
            <span>
              Available Vacancies
            </span>
          </h5>
        </div>
        <div class="card-body scroll">
          <table class="table table-striped table-md">
            <thead>
              <tr>
                <th>
                  #SN
                </th>
                <th>
                  Name
                </th>
                <th>
                  Date Created
                </th>
                <th class="text-center" colspan="3">
                  <i class="fas fa-cog"></i>
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              {{#each vacancies}}
              <tr>
                <td>{{sn}}</td>
                <td>{{name}}</td>
                <td>{{createdAt}}</td>
                <td>
                  <form action="/admin/vacancy/requirements/" method="GET">
                    <input type="hidden" value="{{id}}" name="vid" />
                    <div class="form-group">
                      <button class="btn btn-sm btn-outline-info" title="view vacancy requirements">
                        <i class="fas fa-info-circle"></i>
                        requirements
                      </button>
                    </div>
                  </form>
                </td>
                <td>
                  <form action="/admin/edit/vacancy/" method="GET">
                    <input type="hidden" name="vid" value="{{id}}" />
                    <div class="form-group">
                      <button class="btn btn-sm btn-outline-success" title="Edit Vancancy information">
                        <i class="fas fa-edit"></i>
                        <span>Edit</span>
                      </button>
                    </div>
                  </form>
                </td>
                <td>
                  <form action="/admin/delete/vacancy/" method="GET">
                    <div class="form-group">
                      <input type="hidden" name="vid" value="{{id}}" />
                      <button class="btn btn-sm btn-danger" title="delete vacancy">
                        <i class="fas fa-trash"></i>
                        <span>Delete</span>
                      </button>
                    </div>
                  </form>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <div class="card-footer">

        </div>
      </div>

    </div>
  </div>
</div>

<!-- The New Vacancy Modal -->
<div class="modal fade" id="addNewModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title">New Vacancy</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form class="p-2" action="/admin/save/vacancy/" method="POST">
          <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="Vacancy Name" autocomplete="off" />
          </div>
          <h5 class="text-center text-muted my-2">Vacancy Requirements</h5>
          <div class="card my-2">
            <div class="card-body">
              <!-- this contains list of requirements -->
              <div class="" id="list-box">

                <div class="input-group mb-1">
                  <input type="text" name="requirements" class="form-control" placeholder="Requirement"
                    autocomplete="off" />
                </div>

              </div>
              <!-- this contains list of requirements -->
              <div class="container-fluid mt-1">
                <div class="d-flex justify-content-between">
                  <button type="button" class="btn btn-sm btn-outline-success" id="add-item-btn"
                    data-template="#requirement-template" data-target="#list-box">
                    <i class="fas fa-plus"></i>
                    more requirement
                  </button>

                  <button type="button" class="btn btn-sm btn-danger" id="delete-item-btn" data-target="#list-box">
                    <i class="fas fa-trash"></i>
                    delete
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-success btn-block">
              <i class="fas fa-save mr-1"></i>
              Save Vancancy
            </button>
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<!-- requirement template -->
<script type="mustache/template" id="requirement-template">
<div class="input-group mb-1">
  <input type="text" name="requirements" class="form-control" placeholder="Requirement" />
</div>
</script>