<div class="container-fluid my-3">
  <div class="col-12 col-md-10 col-lg-9 mx-auto">
    {{>_applicant_sidebar}}
    <div class="mt-3">

      <div class="card printable my-3">
        <div class="card-header bg-white border-0 p-1">
          <h5 class="card-title d-flex align-items-center">
            <img src="/resources/img/logo.png" alt="logo" class="logo">
            <span class="ml-2">
              Lobic Recruitment Application Form
            </span>
          </h5>
        </div>
        <div class="card-body p-1">
          <div id="printable">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title text-muted">Personnal Details</h5>
              </div>
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-12 col-md-6 col-lg-4">
                    <div class="text-center">
                      {{#if applicant.pictureDir}}
                      <img src="{{applicant.pictureDir}}" alt="applicant passport" class="passport" />
                      {{else}}
                      <img src="/resources/img/user.png" alt="applicant passport" class="passport" />
                      {{/if}}
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-8">
                    <div class="card">
                      <div class="card-body">
                        <table class="table table-hover">
                          <tbody>
                            <tr>
                              <th>First Name</th>
                              <td>{{applicant.firstName}}</td>
                            </tr>
                            <tr>
                              <th>Last Name</th>
                              <td>{{applicant.lastName}}</td>
                            </tr>
                            <tr>
                              <th>Middle Name</th>
                              <td>{{applicant.middleName}}</td>
                            </tr>
                            <tr>
                              <th>DateOfBirth</th>
                              <td>{{applicant.dateOfBirth}}</td>
                            </tr>
                            <tr>
                              <th>Mobile No</th>
                              <td>{{applicant.phoneNo}}</td>
                            </tr>
                            <tr>
                              <th>Email</th>
                              <td>{{applicant.emailAddress}}</td>
                            </tr>
                            <tr>
                              <th>Vacancy</th>
                              <td>{{applicant.vacancyName}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-md-8 my-2">
                <div class="card">
                  <div class="card-header">
                    <h5 class="card-title text-muted">Education</h5>
                  </div>
                  <div class="card-body scroll">
                    <table class="table table-hover table-sm table-bordered">
                      <thead>
                        <tr>
                          <th>School</th>
                          <th>Certificate</th>
                          <th>Start Date</th>
                          <th>End Date</th>
                        </tr>
                      </thead>
                      {{#each certificates}}
                      <tr>
                        <td>{{school}}</td>
                        <td>{{title}}</td>
                        <td>{{startDate}}</td>
                        <td>{{endDate}}</td>
                      </tr>
                      {{/each}}
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-4 my-2">
                <div class="card">
                  <div class="card-header">
                    <h5 class="card-title text-muted">Exam Summary</h5>
                  </div>
                  <div class="card-body">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <td>Subject</td>
                          <td>Score</td>
                        </tr>
                      </thead>
                      <tbody>
                        {{#each summary.examResults}}
                        <tr>
                          <td>{{subjectName}}</td>
                          <td>{{score}}</td>
                        </tr>
                        {{/each}}
                        <tr>
                          <th>Total score</th>
                          <td>{{summary.totalScore}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-footer text-right text-muted bg-white border-0">
          <span>...your hospitality is our concern</span>
        </div>

      </div>
      <div class="d-flex justify-content-between my-3">
        <a href="/applicant/application" class="btn btn-danger">
          <i class="fas fa-times-circle"></i>
          Cancel
        </a>

        <a href="/applicant/submit/application/" class="btn btn-success">
          Complete Application
          <i class="fas fa-check-circle"></i>
        </a>
      </div>
    </div>
  </div>
</div>